/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Wubba Lubba Dub Dub";
  src:
    url("fonts/WubbaLubbaDubDubRegular.woff2") format("woff2"),
    url("fonts/WubbaLubbaDubDubRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes pop-in {
  from {
    transform: scale(0);
    opacity: 0.1;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

:root {
  --background-dark: rgba(0, 0, 0, 0.796);
}

body {
  background-color: var(--background-dark);
  font-family: "Wubba Lubba Dub Dub";
}

.loading,
.error {
  color: white;
}

.character-card {
  font-weight: bold;
  color: white;
  border-radius: 4px;
  text-align: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 300px;
  margin: 1em;
  font-size: 2rem;
  background: linear-gradient(45deg, #1a1a1a, #262626);
}

img {
  object-fit: scale-down;
}

.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.counter {
  color: white;
  font-size: 2rem;
  border: 1px solid #75b03b;
  text-align: center;
  justify-self: center;
  padding: 20px;
  border-radius: 10px;
  margin: 1em;
  animation: slide-in 400ms;
}

.portal {
  background-color: #66ba4f;
  box-shadow: 0px 0px 40px 10px #448c3f;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: auto;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
  background:
    radial-gradient(circle at 77% 80%, #fdfeb4 2.5%, transparent 2.5%),
    radial-gradient(circle at 75% 83%, #fdfeb4 2%, transparent 2%),
    radial-gradient(circle at 79% 83%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 45% 13%, #ffffd5 1.5%, transparent 1.5%),
    radial-gradient(circle at 42% 13%, #ffffd5 2%, transparent 2%),
    radial-gradient(circle at 38% 14%, #ffffd5 1.5%, transparent 1.5%),
    radial-gradient(circle at 20% 24%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 21% 23%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 51% 13%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 81% 33%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 85% 36%, #fdfeb4 2%, transparent 2%),
    radial-gradient(circle at 21% 46%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 20% 51%, #fdfeb4 2%, transparent 2%),
    radial-gradient(circle at 53% 51%, transparent 64%, #43a93e 64%),
    radial-gradient(circle at 47% 59%, transparent 64%, #43843e 64%),
    radial-gradient(circle at 47% 60%, transparent 59%, #1a9042 59%),
    radial-gradient(circle at 50% 59%, transparent 55%, #1b863c 55%),
    radial-gradient(circle at 45% 60%, transparent 55%, #399c49 55%),
    radial-gradient(circle at 47% 60%, transparent 46%, #1a9042 46%),
    radial-gradient(circle at 46% 55%, transparent 43%, #75b03b 43%),
    radial-gradient(circle at 36% 55%, transparent 43%, #a9cb48 43%),
    radial-gradient(circle at 50% 60%, transparent 40%, #66ba4f 40%),
    radial-gradient(circle at 50% 53%, transparent 40%, #e5e051 37%),
    radial-gradient(circle at 30% 48%, transparent 40%, #eaf157 37%),
    radial-gradient(circle at 57% 69%, transparent 40%, #eaf157 40%),
    radial-gradient(circle at 40% 88%, transparent 40%, #e9e072 37%),
    radial-gradient(circle at 67% 54%, transparent 40%, #faeb7b 37%),
    radial-gradient(circle at 49% 35%, transparent 40%, #fff8c5 37%),
    radial-gradient(circle at 79% 59%, transparent 40%, #fffe9c 37%),
    radial-gradient(circle at 50% 50%, #fdfeb4 100%, #fdfeb4 100%);
}

.character-card:hover > .portal {
  opacity: 1;
}

.message-lost,
.message-won {
  background-position: bottom left;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-size: 3rem;
  color: white;
  justify-self: center;
  margin-top: 2em;
  animation: pop-in 400ms;
}

.message-lost {
  background-image: url(assets/wp3277676-rick-and-morty-4k-wallpapers_ackf98_ar_1_1\,c_fill\,g_auto__c_scale\,w_1400.png);
}

.message-won {
  background-image: url(assets/wp3277659-rick-and-morty-4k-wallpapers_l2zyns_ar_1_1\,c_fill\,g_auto__c_scale\,w_767.jpg);
}

button {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #1a9042;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}
